* {
	font-family: 'Montserrat', sans-serif;
}
html,body {
	margin: 0 auto;
  padding: 0 20px;
}
.section-padding {
	padding: 100px 0;
}
/*Estilo navbar */
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 32, 32);
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
/*Cards */
.container-disney {
  margin: 0 auto;
  padding: 0 30px;
}
.main {
  margin: 0 auto;
  padding: 0 20px;
}



.disney-rows {
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
  display: grid;
  grid-row-gap: 15px;
  padding-bottom: 10px;
  padding-top: 65px;
}

.card-disney {
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(to bottom, #3a3c4a, #242632);
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
    rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
}

.item-border {
  position: relative;
  border-radius: 10px;
  transition: transform 250ms ease-in-out, border 250ms ease-in-out,
  box-shadow 250ms ease-in-out;
}

.item-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}

.item-image.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 4.5s;
  visibility: hidden;
}

.card-disney:hover .item-border {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
    rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
  transform: scale(1.05);
  border: 4px solid rgba(249, 249, 249, 0.8);
}

.card-disney:hover .item-image.hover-image {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
  visibility: visible;
}

.populares_title h1 {
  font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
  color: black;
  padding-top: 75px;
}

.navbar_vertical {
  margin-top: 50px;
  margin-bottom: 10px;
  position: absolute;
}

.navbar_vertical a {
 font-size: 15px;
 color: #000;
}

.col-md-4 {
  padding-top: 80px;
  padding-left: 50px;
  width: 18%;
}

.inner{
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}

.card-text{
  font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-shadow: .1rem .1rem .3rem red;
	margin-top: 25px;
  box-sizing: border-box;
}

.navbar_vertical li {
  padding-top: 8px;
}









.col:hover{
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}

/*  MEDIA SCREEN ESTILOS */
@media (min-width: 1300px){
  .disney-rows {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 300px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
  .films {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
  .item-border {
    border: 2px solid rgba(249, 249, 249, 0.1);
  }
  
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
  .item-border {
    border: 4px solid rgba(249, 249, 249, 0.1);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }
}